/* button styling */

*:focus {outline:none !important}

._chaching__submit-button {
    padding: 10px !important;
    font-size: 10px !important;
    background: black !important;
    height: auto !important;
    color: white !important;
    border-radius: 3px !important;
    cursor: pointer !important;
    text-align: center !important;
    margin-bottom: 5px !important;
    font-size: 15px !important;
}

._chaching__content h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 26px !important;
    margin-bottom: 20px !important;
    border-bottom: 1px solid #eee !important;
    padding-bottom: 15px !important;
    line-height: 26px !important;
}

._chaching__content p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    line-height: 20px !important;
    font-size: 12px !important;
    text-align: center !important;
    font-weight: 400 !important;
    color: #343434 !important;
    margin: -10px 0 0 0 !important;
    padding: 5px 0 !important;
}

._chaching__content ul {
    margin: 0 !important;
    padding: 0 !important;
}

._chaching__content ul li {
    list-style: none !important;
    background: #fff !important;
    border-radius: 3px !important;
    border: 0.5px solid #FFF1CB !important;
    padding: 15px !important;
    /* box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25); */
    /* text-transform: uppercase !important; */
    margin-bottom: 15px !important;
}

._chaching__content .code {
    background: #FFFCF4  !important;
    color: #FFC941 !important;
    padding: 5px !important;
    display: inline-block !important;
    border-radius: 3px !important;
    border: 1px solid #FFDF8E !important;
    cursor: pointer !important;
    font-weight: bold !important;
}
/* ._chaching_coupon__list ul li:hover .code:after{
    content: "click to copy"
} */

._chaching__content li p {
    text-align: left !important;
    margin-top: 15px !important;
    text-transform: none !important;
    font-size: 12px;
    padding: 0 !important;
}

._chaching_coupon__list {
    display: none;
    height: 540px !important;
    width: 360px !important;
    border-radius: 3px !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2) !important;
    /* border: 1px solid white !important; */
    background: #FFFCF4 !important;
    /* cursor: pointer !important; */
    /* padding: 15px; */
    position: fixed !important;
    top: 54px !important;
    right: 5px !important;
    z-index: 9999999999 !important;
}

._chaching_coupon__button {
    height: 48px !important;
    width: 48px !important;
    border-radius: 100px !important;
    /* border: 0.5px solid #FFDF8E !important; */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2) !important;
    background: #FF3636 !important;
    cursor: pointer !important;
    position: fixed !important;
    font-family: serif !important;
    color: #383636 !important;
    top: 30px !important;
    right: 30px !important;
    text-align: center !important;
    z-index: 9999999999 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 28px !important;
    line-height: 48px !important;
    font-weight: bold !important;
    -webkit-transition: all .3s ease-out !important;
    transition: all .3s ease-out !important;  
    border-color: transparent !important;
    box-shadow: none !important;
}

._chaching_coupon__button span.lets-party {
    padding-top: 5px !important;
}

._chaching_coupon__button:hover {
    box-shadow: 0 37px 20px -20px rgba(0,0,0,.2) !important;
}

/* overlay */
._chaching_submit__overlay {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    position: fixed !important;
    width: 300px !important;
    height: auto !important;
    top: 50% !important;
    left: 50% !important;
    margin-left: -110px !important;
    margin-top: -120px !important;
    border-radius: 3px !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2) !important;
    /* border: 1px solid white !important; */
    background: #FFFCF4 !important;
    z-index: 9999999999999 !important;
    padding: 10px !important;
    box-sizing: border-box !important;
    text-align: center !important;
}

._chaching_submit__overlay>div {
    margin: 10px 0 10px 0 !important;
}

._chaching_submit__overlay label {
    display: block !important;
}

._chaching_submit__overlay input {
    width: 90% !important;
    border: 0.5px solid !important;
}

._chaching_submit__overlay ._chaching_close-button {
    top: -10px !important;
    right: -10px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    color: red !important;
    border-radius: 50% !important;
    cursor: pointer !important;
}

/* header styling */
._chaching__header {
    height: 54px;
    line-height: 54px;
    border-bottom: 0.5px solid #FFF1CB;
    background: #FFF;
    text-align: center;
    border-radius: 3px 3px 0 0;
}

._chaching__storelogo {
    border-radius: 100% !important;
    margin: 10px !important;
    width: 32px !important;
    height: 32px !important;
    float: left !important;
    background: url('https://firebasestorage.googleapis.com/v0/b/chaching-light.appspot.com/o/logo_32.png?alt=media&token=23408a8f-58cf-4bc3-844a-bd204d441a7e');
}

._chaching__heading {
    margin-right: 42px !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

._chaching__content {
    overflow: hidden !important;
    padding: 15px !important;
    overflow-y: scroll !important;
    height: 426px !important; 
    /* height: 150px; */
    width: 100% !important;
}

._chaching__list__content, ._chaching__account__content {
    display: none;
}

._chaching__footer {
    /* margin-top: 426px !important; */
    background: #FFF !important;
    height: 60px !important;
    border-top: 0.5px solid #FFF1CB !important;
    line-height: 30px !important;
    border-radius: 0 0 3px 3px !important;
    position: absolute !important;
    width: 100% !important;
    top: 480px !important;
}

._chaching__footer ul {
    margin: 0 !important;
    padding-inline-start: 0 !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}

._chaching__footer li {
    width: 33.33% !important;
    display: inline-block !important;
    margin: 0 !important;
}

._chaching__footer button {
    display: block !important;
    /* height: 42px !important; */
    width: 100% !important;
    text-align: center !important;
    border: none;
    background: #FFF !important;
    border-bottom: 3px solid #FFF !important;
    padding-top: 15px !important;
    padding-bottom: 12px !important;
    opacity: 0.5 !important;
    height: 59px !important;
}

._chaching__leftmost {
    border-radius: 0 0 0 3px !important;
}

._chaching__rightmost {
    border-radius: 0 0 3px 0 !important;
}

._chaching__footer button:focus {
    border-bottom: 3px solid #FFC941 !important;
    opacity: 1 !important;
    outline: 0 !important;
}

._chaching__footer button:focus ._chaching__content {
    display: block !important;
}

._chaching__account__content .listed-sites {
    justify-content: space-between !important; 
}

._chaching__account__content .listed-sites li:nth-child(1) {
    width: 0 !important; }

._chaching__account__content .listed-sites .store-logo {
    max-width: 100px !important; }

._chaching__lgtext {
    font-size: 16px !important;
    text-transform: capitalize !important;
}

._chaching__urltext {
    font-size: 12px;
    opacity: 0.5;
}

._chaching__storelogo__inlist {
    margin-top: 5px !important;
}

._chaching__cta {
    background: #FFFCF4  !important;
    color: #FFC941 !important;
    padding: 5px 10px !important;
    display: inline-block !important;
    border-radius: 3px !important;
    border: 1px solid #FFDF8E !important;
    cursor: pointer !important;
    font-weight: bold !important;
    float: right !important;
    text-decoration: none !important;
    margin-top: -15px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
._chaching__cta:hover {
    text-decoration: none !important;
}